@using PagedList.Mvc;
@model PagedList.IPagedList<WebMayBayHaThanh.Models.mVisa>
<link href="~/Content/PagedList.css" rel="stylesheet" />
@foreach (var item in Model)
{
    <div class='col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12'>
        <div class='tm-home-box-2'>
            <a href='/Details?typ=2&id=@Html.DisplayFor(it => item.VisaID)'><img src='../../@Html.DisplayFor(it => item.VisaImage)' style='width:100%; height:70%' alt='image' class='img-responsive' /></a>
            <div style='height:50px'><a href='/Details?typ=2&id=@Html.DisplayFor(it => item.VisaID)'><h3>@Html.DisplayFor(it => item.VisaTitle)</h3></a></div>
            <p class='tm-date' style='font-size:12px'><i style='width:15px'></i><span></span><span style='float:right'><i class='fa fa-clock-o'></i>&nbsp;@Html.DisplayFor(it => item.CreatedDate)</span></p>
</div>
    </div>
}
<div class="col-xs-12 col-md-12" style="text-align:center;">
    @if (Model != null)
    {
        @Html.PagedListPager(Model, page => Url.Action("Visa", "Home", new { page }))
    }
</div>